
<div class="example-sidenav-container">
<mat-card>
  <canvas id="barChart">{{ chart }}</canvas>
</mat-card>
<mat-card>
  <canvas id="barChart2">{{ chart }}</canvas>
</mat-card>
<mat-card>
  <canvas id="donutChart">{{ chart }}</canvas>
</mat-card>
<mat-card>
  <canvas id="pieChart">{{ chart }}</canvas>
</mat-card>
<mat-card>
  <canvas id="lineChart">{{ chart }}</canvas>
</mat-card>
<mat-card>
  <canvas id="lineChart2">{{ chart }}</canvas>
</mat-card>
<mat-card>
    <canvas id="barChart3">{{ chart }}</canvas>
  </mat-card>
    
</div>